<!DOCTYPE html>
<html class="no-js wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>CE | BERLIN</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700%7CRaleway:400,500">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/kings.css">

    
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-load">
            <div class="cssload-blockcont">
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
                <div class="cssload-block"></div>
            </div>
        </div>
    </div>
</div>

<header>
    <nav class="navbar navbar-default bootsnav navbar-fixed-top header-light bg-transparent nav-box-width white-link navbar-mobile">
        <div class="container nav-header-container">
            <div class="row">
                <div class="col-md-2 col-xs-5"><a class="logo" href="/" title="CE Berlin"><img class="logo-dark" src="images/logo.png" alt=""><img class="logo-light default" src="images/logo.png" alt=""></a></div>
                <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu">
                    <button class="navbar-toggle collapsed pull-right" type="button" data-toggle="collapse" data-target="#navbar-collapse-toggle-1"><span class="sr-only">toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                        <ul class="nav navbar-nav navbar-left panel-group no-margin text-font-sec text-bold">
                            <li><a class="inner-link {{#compare menuActive '==' 'home'}}active{{/compare}}" href="/" title="Home">Home</a></li>
                            <li><a class="inner-link {{#compare menuActive '==' 'churchService'}}active{{/compare}}" href="/church-service" title="Church Service">Church Service</a></li>
                            <li><a class="inner-link {{#compare menuActive '==' 'kingsPay'}}active{{/compare}}" href="/kings-pay" title="Kings Pay">Kings Pay</a></li>
                            <li><a class="inner-link  {{#compare menuActive '==' 'pcdlOnline'}}active{{/compare}}" href="https://pcdl.co/" title="PCDL Online">PCDL Online</a></li>
                            <li><a class="inner-link {{#compare menuActive '==' 'rhapsody'}}active{{/compare}}" href="/rhapsody-realities" title="Rhapsody of Realities">Rhapsody of Realities</a></li>
                            <!--<li><a class="inner-link" href="#contacts" title="Contact">Healing school</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

{{{body}}}

<footer class="footer-clean inset-five-tb xs-padding-30px-tb">
    <div class="footer-widget-area inset-40px-bottom xs-padding-30px-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 widget sm-offset-50px-bottom xs-offset-30px-bottom sm-text-center xs-text-left"><a class="display-inline-block" href="/"><img class="footer-logo" src="images/logo.png" data-at2x="images/logo@2x.png" alt=""></a></div>
                <div class="col-md-3 col-sm-4 col-xs-12 widget xs-offset-30px-bottom">
                    <div class="widget-title text-font-sec text-extra-small text-extra-dark-gray text-uppercase offset-15px-bottom text-medium">Church services</div>
                    <div class="text-small text-line-height-24 width-75 text-medium-gray xs-width-100">Church 1 : 10AM - 12:30PM</div>
                    <div class="text-small text-line-height-24 width-75 text-medium-gray xs-width-100">Church 2 : 1:30 PM - 3:30PM</div>
                    <div class="text-small text-line-height-24 width-75 text-medium-gray xs-width-100">Bandelstraße 40 - 42, 10559 Berlin</div>
                    <div class="text-small text-line-height-24 text-medium-gray">Email: <a class="text-medium-gray" href="mailto:#">info@ceberlin.de</a>
                    </div>
                    <div class="text-small text-line-height-24 text-medium-gray">Phone: <a href="tel:#">+49 (0) 123 456 7890</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 widget xs-offset-30px-bottom">
                    <div class="widget-title text-font-sec text-extra-small text-extra-dark-gray text-uppercase offset-15px-bottom text-medium">FOLLOW US</div>
                    <ul class="list-unstyled">
                        <li class="width-50 pull-left"><a class="text-medium-gray text-small" href="#">Facebook</a></li>
                        <li class="width-50 pull-left"><a class="text-medium-gray text-small" href="#">Pinterest</a></li>
                        <li class="width-50 pull-left"><a class="text-medium-gray text-small" href="#">Twitter</a></li>
                        <li class="width-50 pull-left"><a class="text-medium-gray text-small" href="#">Linkedin</a></li>
                        <li class="width-50 pull-left"><a class="text-medium-gray text-small" href="#">Dribbble</a></li>
                        <li class="width-50 pull-left"><a class="text-medium-gray text-small" href="#">YouTube</a></li>
                        <li class="width-50 pull-left"><a class="text-medium-gray text-small" href="#">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 widget">
                    <div class="widget-title text-font-sec text-extra-small text-extra-dark-gray text-uppercase offset-20px-bottom text-medium">NEWSLETTER</div>
                    <form class="rd-mailform text-left rd-form-footer" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                        <div class="form-wrap">
                            <label class="form-label" for="footer-newsletter-email">E-Mail</label>
                            <input class="form-input" id="footer-newsletter-email" type="email" name="email" data-constraints="@Required @Email">
                        </div>
                        <div class="form-button">
                            <button class="btn btn-default" type="submit"><i class="fa fa-caret-right icon-small tz-icon-color no-margin text-fast-blue"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="border-color-extra-light-gray border-top inset-40px-top xs-padding-30px-top">
            <div class="row">
                <div class="col-md-12 col-xs-12 text-right text-small text-center text-medium-gray">© 2018 ChristEmbassy. All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->

<!-- javascript core §scripts-->
<script type="text/javascript" src="/js/core.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/swiper.js"></script>
<!-- coded by gel-->

</body>
</html>
