<section id="contact" style="background:#818388; color:white">
    <div class="section-content text-center"  style= 'margin-top: 6rem; padding-bottom:8.5rem'>
        <h1 class="section-header" ><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Add Rhapsody Of Realities</span></h1>
        {{!-- <h3></h3> --}}
    </div>
    <div class="contact-section" style= 'margin-top: 1rem'>
    <div class="container">
        <form>
            <div class="col-md-6 form-line">
                <div class="form-group">
                    <label for="exampleInputUsername">Title</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">Opening Verse</label>
                    <textarea  class="form-control" id="description"rows="2"></textarea>
                </div>	
                <div class="form-group">
                    <label for="telephone">Confession</label>
                    <textarea  class="form-control" id="description"rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="telephone">Futher Scripture</label>
                    <input type="tel" class="form-control" id="telephone">
                </div>
                <div class="form-group">
                    <label for="telephone">One Year Bible Plan</label>
                    <input type="tel" class="form-control" id="telephone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for ="description"> Body</label>
                    <textarea  class="form-control" id="description"  rows="13"></textarea>
                </div>
                <div class="text-center" style="margin-bottom: 0.5rem;">
                    <button type="button" class="btn btn-purple btn-rounded" style=""><i aria-hidden="true"></i>Save & Stay</button>
                </div>
                <div class="text-center" style="margin-bottom: 0.5rem;">
                    <button type="button" class="btn btn-purple btn-rounded" style=""><i aria-hidden="true"></i>Save & Exit</button>
                </div>
                <div class="text-center" style="margin-bottom: 0.5rem;">
                    <button type="button" class="btn btn-purple btn-rounded" style=""><i aria-hidden="true"></i>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>
