<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/images/breadcrumbs-image-2.jpg);">
    <div class="breadcrumbs-custom-inner">
        <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
                <h6 class="breadcrumbs-custom-subtitle title-decorated">Services</h6>
                <h1 class="breadcrumbs-custom-title">Services</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</section>

<section class="section section-lg">
    <div class="container">
        <div class="row row-50 row-xxl-70 offset-top-2">
            <div class="col-sm-6 col-md-4 col-lg-4 wow-outer">
                <a href="https://www.youtube.com/watch?v=1OQwskSRwYw&amp;feature=youtu.be" class="vicon fancybox-media" rel="media-gallery">
                    <figure>
                        <img src="/images/welcome_to_ce_intro_video.png">
                    </figure>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-8 wow-outer">
                <h4 class="gr-text">Dünya’da bir ilk olan Girişimcilik Vakfı, Fellow Programı ile gençleri geniş bir ağın parçası haline getiriyor.</h4>
                <p>Türkiye'nin üreten ve değer yaratan ülke olma yolundaki dönüşümünü girişimcilik ile hızlandırmak vizyonu ile kurulan Türkiye Girişimcilik Vakfı (Girvak), Türkiye'de girişimcilik kültürünü oluşturmak ve yaygınlaştırmak misyonu ile çalışıyor.</p>

            </div>
        </div>
    </div>
</section>



<section class="section section-lg">
    <div class="container">
        <div class="row row-50 row-xxl-70 offset-top-2">
            <div class="col-sm-6 col-md-4 col-lg-4 wow-outer">
                <!-- Box Light-->
                <article class="box-light wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                    <div class="box-light-icon linearicons-pen3"></div>
                    <h4 class="box-light-title">CHURCH 1</h4>
                    <h6>10AM - 12:30PM Sundays</h6>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 wow-outer">
                <!-- Box Light-->
                <article class="box-light wow slideInLeft" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: slideInLeft;">
                    <div class="box-light-icon linearicons-palette"></div>
                    <h4 class="box-light-title">CHURCH 2</h4>
                    <h6>1:30 PM - 3:30PM Sundays</h6>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 wow-outer">
                <!-- Box Light-->
                <article class="box-light wow slideInLeft" data-wow-delay=".05s" style="visibility: visible; animation-delay: 0.05s; animation-name: slideInLeft;">
                    <div class="box-light-icon linearicons-palette"></div>
                    <h4 class="box-light-title">MIDWEEK SERVICE</h4>
                    <h6>1:30 PM - 3:30PM Wednesdays</h6>
                </article>
            </div>

        </div>
    </div>
</section>

<section class="parallax-container" data-parallax-img="images/breadcrumbs-image-1.jpg"><div class="material-parallax parallax"><img src="images/breadcrumbs-image-1.jpg" alt="" style="display: block; transform: translate3d(-50%, 124px, 0px);"></div>
    <div class="parallax-content dark-filter">
        <div class="section-md text-center context-dark">
            <div class="container">
                <div class="box-cta-1">
                    <h3 class="wow-outer"><span class="wow slideInRight" style="visibility: visible; animation-name: slideInRight;">WHAT IS A HIGHER LIFE SUNDAY SERVICE?</span></h3>
                    <div class="wow-outer button-outer">
                        <h6>
                            The Connection Sunday Service is a place where heaven is on earth. The main goal is that everybody may experience love, the Holy Spirit, and hear the Word of God, so that no one misses the chance to be touched by God and receive their miracle.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

