<div class="page">

    <svg class="defs">
        <defs>
            <lineargradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="#ED4264">
                    <animate attributename="stop-color" values="#ED4264; #FFEDBC; #ED4264" dur="3s" repeatcount="indefinite"></animate>
                </stop>
                <stop offset="100%" stop-color="#FFEDBC">
                    <animate attributename="stop-color" values="#FFEDBC; #ED4264; #FFEDBC" dur="3s" repeatcount="indefinite"></animate>
                </stop>
            </lineargradient>
        </defs>
    </svg>
    <div class="swiper-container" data-effect="frame-rect" data-loop="true" data-autoplay="true" data-speed="1600" data-mousewheel="false" data-keyboard="false" id="home" data-frame-fill="url(#gradient1)">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slide-img" style="background-image: url(images/home-classic-start-up-slider-01.jpg);" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRide&quot;, &quot;duration&quot;: 1800 }"></div>
                <div class="swiper-slide-caption">
                    <p class="lead text-white" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 500 }">Salt of the earth</p>
                    <div class="text-font-sec text-white text-uppercase text-semi-bold letter-spacing-minus-3 title-large offset-two-bottom width-60 center-col md-width-80 sm-offset-four-bottom xs-width-90 xs-offset-25px-bottom xs-letter-spacing-0" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 600 }">YOUR NAME IS LIGHT  </div><a class="btn btn-rounded btn-small offset-20px-lr xs-offset-5px-top btn-transparent-white offset-15px-top" href="#" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 700, &quot;intensity&quot;: 350 }">Read More</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-img" style="background-image: url(images/home-classic-start-up-slider-02.jpg);" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRide&quot;, &quot;duration&quot;: 1800 }"></div>
                <div class="swiper-slide-caption">
                    <p class="lead text-white" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 500 }">ONLY JESUS</p>
                    <div class="text-font-sec text-white text-uppercase text-semi-bold letter-spacing-minus-3 title-extra-large offset-two-bottom width-60 center-col md-width-80 sm-offset-four-bottom xs-width-90 xs-offset-25px-bottom xs-letter-spacing-0" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 600 }">SAVES</div><a class="btn btn-rounded btn-small offset-20px-lr xs-offset-5px-top btn-transparent-white offset-15px-top" href="#" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 700, &quot;intensity&quot;: 350 }">Read More</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-img" style="background-image: url(images/home-classic-start-up-slider-03.jpg);" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRide&quot;, &quot;duration&quot;: 1800 }"></div>
                <div class="swiper-slide-caption context-light">
                    <p class="lead text-white" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 500 }">Innovations & creativity</p>
                    <div class="text-font-sec text-white text-uppercase text-semi-bold letter-spacing-minus-3 title-extra-large offset-two-bottom width-60 center-col md-width-80 sm-offset-four-bottom xs-width-90 xs-offset-25px-bottom xs-letter-spacing-0" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 600 }">ONLY BELIEVE</div><a class="btn btn-rounded btn-small offset-20px-lr xs-offset-5px-top btn-transparent-white offset-15px-top" href="#" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 700, &quot;intensity&quot;: 350 }">Read More</a>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>


    <section class="wow fadeIn xs-text-center no-inset-top" id="about" style="margin-top: 50px">
        <div class="container-fluid no-inset">
            <div class="row no-margin equalize sm-equalize-auto">
                <div class="col-lg-6 col-md-4 col-sm-12 cover-background no-inset" style="background-image: url('images/home-classic-start-up-bg-01.jpg'); background-position: top !important">
                    <div class="sm-height-500px xs-height-350px"></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 bg-white no-inset last-paragraph-no-margin sm-text-center">
                    <div class="inset-80px-all md-padding-40px-all sm-padding-60px-all xs-padding-30px-all">
                        <h5 class="text-font-sec text-semi-bold text-extra-dark-gray text-uppercase">THE WORD OF THE SPIRIT</h5>
                        <p class="width-95 md-width-100">JULY IS THE MONTH OF LAUGHTER</p><a class="btn btn-small btn-dark-gray offset-40px-top sm-offset-30px-top xs-offset-15px-top" href="#">Meet Our Team</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 no-inset cover-background" style="background-image: url('images/home-classic-start-up-bg-02.jpg')">
                    <div class="sm-height-500px xs-height-350px"></div>
                </div>
            </div>
        </div>
    </section>

    <!--<section id="mission-statement" style="padding: 40px" >-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<h2>-->
    <!--To take God's divine presence to the-->
    <!--<br>-->
    <!--peoples and nations-->
    <!--<br>-->
    <!--of the world and to demonstrate the-->
    <!--<br>-->
    <!--character of the Holy Spirit.-->
    <!--</h2>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

    <section class="no-inset-tb bg-light-gray wow">
        <div class="container-fluid no-inset">
            <div class="row no-margin">
                <div class="col-md-4 no-inset image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap">
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url(images/home-classic-start-up-image-01.jpeg)"></div>
                        <div class="width-100 small-screen xs-height-300px display-table arrow-top">
                            <div class="display-table-cell vertical-align-middle inset-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray text-font-sec width-95 center-col sm-width-100 xs-offset-15px-bottom">Industry-leading creative thinking</h6>
                                <p class="no-letter-spacing inset-two-lr text-line-height-26 xs-line-height-20 xs-no-padding-lr">When it comes to web design & other creative solutions, our company combines a creative approach with innovations and relevance to customers. That's why our solutions are always in accordance with the latest industry standards.</p><span class="separator-line-horrizontal-medium-light2 bg-secondary display-inline-block offset-40px-top xs-offset-20px-top"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-inset image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap sm-swap-block">
                        <div class="width-100 small-screen xs-height-300px display-table arrow-bottom">
                            <div class="display-table-cell vertical-align-middle inset-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray text-font-sec width-95 center-col sm-width-100 xs-offset-15px-bottom">Digital branding & online marketing services</h6>
                                <p class="no-letter-spacing inset-two-lr text-line-height-26 xs-line-height-20 xs-no-padding-lr">We provide branding & marketing services mostly as digital solutions to match the reality of web design, development & branding. Our clients' trust proves that we chose the right path when we began to offer these services.</p><span class="separator-line-horrizontal-medium-light2 bg-secondary display-inline-block offset-40px-top xs-offset-20px-top"></span>
                            </div>
                        </div>
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url(images/home-classic-start-up-image-02.jpg)"></div>
                    </div>
                </div>
                <div class="col-md-4 no-inset image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap">
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url(images/home-classic-start-up-image-03.jpg)"></div>
                        <div class="width-100 small-screen xs-height-300px display-table arrow-top">
                            <div class="display-table-cell vertical-align-middle inset-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray text-font-sec width-95 center-col sm-width-100 xs-offset-15px-bottom">Search engine optimization, analytics, and marketing</h6>
                                <p class="no-letter-spacing inset-two-lr text-line-height-26 xs-line-height-20 xs-no-padding-lr">As an additional tool for our clients' success we offer search analytics & marketing services that make you noticeable on the Internet and attractive to your clients & partners, both current and prospective.</p><span class="separator-line-horrizontal-medium-light2 bg-secondary display-inline-block offset-40px-top xs-offset-20px-top"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 50px" class="wow xs-text-center no-inset-top" id="word-of-year" >
        <div class="container-fluid no-inset" >
            <div class="row no-margin equalize sm-equalize-auto">
                <div class="col-lg-8 col-md-4 col-sm-12 cover-background no-inset" style="background-image: url('images/supernatural-banner.jpg'); background-position: top !important">
                    <div class="sm-height-500px xs-height-350px"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 bg-white no-inset last-paragraph-no-margin sm-text-center">
                    <div class="inset-80px-all md-padding-40px-all sm-padding-60px-all xs-padding-30px-all">
                        <h5 class="text-font-sec text-semi-bold text-extra-dark-gray text-uppercase">Word of the year</h5>
                        <p class="width-95 md-width-100">2018 IS THE YEAR OF THE SUPERNATURAL</p><a class="btn btn-small btn-dark-gray offset-40px-top sm-offset-30px-top xs-offset-15px-top" href="#">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 50px" class="wow xs-text-center no-inset-top" id="healing-school" >
        <div class="container-fluid no-inset" >
            <div class="row no-margin equalize sm-equalize-auto">
                <div class="col-lg-4 col-md-4 col-sm-12 bg-white no-inset last-paragraph-no-margin sm-text-center">
                    <div class="inset-80px-all md-padding-40px-all sm-padding-60px-all xs-padding-30px-all">
                        <h6 class="text-font-sec text-semi-bold text-extra-dark-gray text-uppercase">HEALING SCHOOL WITH PASTOR CHRIS</h6>
                        <p class="width-95 md-width-100">THE SET TIME FOR YOUR MIRACLE</p><a class="btn btn-small btn-dark-gray offset-40px-top sm-offset-30px-top xs-offset-15px-top" href="#">REGISTER FOR THE HEALING SCHOOL</a>
                    </div>
                </div>

                <div class="col-lg-8 col-md-4 col-sm-12 cover-background no-inset" style="background-image: url('images/healing-school-testimony.jpg'); background-position: top !important">
                    <div class="sm-height-500px xs-height-350px"></div>
                </div>

            </div>
        </div>
    </section>

    <section class="wow fadeIn bg-extra-dark-gray" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center offset-100px-bottom xs-offset-40px-bottom">
                    <div class="position-relative overflow-hidden width-100"><span class="text-small text-outside-line-full text-font-sec text-medium text-uppercase">Contact Us</span></div>
                </div>
            </div>
            <form class="rd-mailform rd-mailform-style-2 text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row">
                    <div class="col-md-8 wow fadeIn center-col text-center">
                        <div class="form-wrap">
                            <label class="form-label" for="contact-name">Name</label>
                            <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="contact-phone">Phone</label>
                            <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Required @Numeric">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="contact-email">E-Mail</label>
                            <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="contact-subject">Subject</label>
                            <input class="form-input" id="contact-subject" type="text" name="subject" data-constraints="@Required">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="contact-message">Message</label>
                            <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                        </div>
                        <div class="form-button group-sm text-center text-lg-left">
                            <button class="btn btn-small btn-secondary offset-30px-top xs-offset-three-top" type="submit">send message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
