<div class="page">

    <svg class="defs">
        <defs>
            <lineargradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="#ED4264">
                    <animate attributename="stop-color" values="#ED4264; #FFEDBC; #ED4264" dur="3s" repeatcount="indefinite"></animate>
                </stop>
                <stop offset="100%" stop-color="#FFEDBC">
                    <animate attributename="stop-color" values="#FFEDBC; #ED4264; #FFEDBC" dur="3s" repeatcount="indefinite"></animate>
                </stop>
            </lineargradient>
        </defs>
    </svg>
    <div class="swiper-container" data-effect="frame-rect" data-loop="true" data-autoplay="true" data-speed="1600"
        data-mousewheel="false" data-keyboard="false" id="home" data-frame-fill="url(#gradient1)">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slide-img" style="background-image: url({{{viewData.sliders.[1].image_url}}});"
                    data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRide&quot;, &quot;duration&quot;: 1800 }"></div>
                <div class="swiper-slide-caption">
                    <p class="lead text-white" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 500 }">Welcome to 2019</p>
                    <div class="text-font-sec text-white text-uppercase text-semi-bold letter-spacing-minus-3 title-large offset-two-bottom width-60 center-col md-width-80 sm-offset-four-bottom xs-width-90 xs-offset-25px-bottom xs-letter-spacing-0"
                        data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 600 }">2019 IS THE YEAR OF LIGHT </div><a class="btn btn-rounded btn-small offset-20px-lr xs-offset-5px-top btn-transparent-white offset-15px-top"
                      target="_blank"  href="https://pcdl.co/media_albums/5c2b4a8a73322e15ddf20c00" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 700, &quot;intensity&quot;: 350 }">GET THE MESSAGE</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-img" style="background-image: url({{{viewData.sliders.[2].image_url}}});"
                    data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRide&quot;, &quot;duration&quot;: 1800 }"></div>
                <div class="swiper-slide-caption">
                    <p class="lead text-white" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 500 }">A prayer for </p>
                    <div class="text-font-sec text-white text-uppercase text-semi-bold letter-spacing-minus-3 title-extra-large offset-two-bottom width-60 center-col md-width-80 sm-offset-four-bottom xs-width-90 xs-offset-25px-bottom xs-letter-spacing-0"
                        data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 600 }">YOU</div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-img" style="background-image: url({{{viewData.sliders.[3].image_url}}});"
                    data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRide&quot;, &quot;duration&quot;: 1800 }"></div>
                <div class="swiper-slide-caption context-light">
                    <p class="lead text-white" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 500 }">A new vission</p>
                    <div class="text-font-sec text-white text-uppercase text-semi-bold letter-spacing-minus-3 title-extra-large offset-two-bottom width-60 center-col md-width-80 sm-offset-four-bottom xs-width-90 xs-offset-25px-bottom xs-letter-spacing-0"
                        data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 600 }">LOVE WORLD USA</div><a class="btn btn-rounded btn-small offset-20px-lr xs-offset-5px-top btn-transparent-white offset-15px-top"
                        target = "_blank" href="https://www.loveworldusa.org/" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentRide&quot;, &quot;duration&quot;: 600, &quot;delay&quot;: 700, &quot;intensity&quot;: 350 }">WATCH</a>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

<script>
    var viewData = "{{viewData.sliders.[3].image_url}}";
        console.log(viewData);
</script>
    <section class="wow fadeIn xs-text-center no-inset-top" id="about" style="margin-top: 50px">
        <div class="container-fluid no-inset">
            <div class="row no-margin equalize sm-equalize-auto">
                <div class="col-lg-5 col-md-4 col-sm-12 cover-background no-inset" style="background-image: url('images/section_1_image_1.jpeg'); background-position: top !important">
                    <div class="sm-height-500px xs-height-350px"></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 bg-white no-inset last-paragraph-no-margin sm-text-center">
                    <div class="inset-80px-all md-padding-40px-all sm-padding-60px-all xs-padding-30px-all">
                        <h5 class="text-font-sec text-semi-bold text-extra-dark-gray text-uppercase">Vision CONFERENCE</h5>
                        <p class="width-95 md-width-100">For greater works and impact</p><a class="btn btn-small btn-dark-gray offset-40px-top sm-offset-30px-top xs-offset-15px-top"
                            target="_blank" href="https://goo.gl/maps/iSRk4cYg1rF2">Directions</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 no-inset cover-background" >
                    <div class="sm-height-500px xs-height-350px"></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9709.349992917598!2d13.3495492!3d52.5273276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe0eb7bf3386b732d!2sChrist+Embassy+Berlin+e.+V.!5e0!3m2!1sen!2sde!4v1547147847204" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <!--<section id="mission-statement" style="padding: 40px" >-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<h2>-->
    <!--To take God's divine presence to the-->
    <!--<br>-->
    <!--peoples and nations-->
    <!--<br>-->
    <!--of the world and to demonstrate the-->
    <!--<br>-->
    <!--character of the Holy Spirit.-->
    <!--</h2>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

    <section class="no-inset-tb bg-light-gray wow">
        <div class="container-fluid no-inset">
            <div class="row no-margin">
                <div class="col-md-4 no-inset image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap">
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px"
                            style="background: url(images/home-classic-start-up-image-01.jpeg)"></div>
                        <div class="width-100 small-screen xs-height-300px display-table arrow-top">
                            <div class="display-table-cell vertical-align-middle inset-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray text-font-sec width-95 center-col sm-width-100 xs-offset-15px-bottom">Brother Ono's Testimony</h6>
                                <p class="no-letter-spacing inset-two-lr text-line-height-26 xs-line-height-20 xs-no-padding-lr">
                                   “During the 2018 campaign, I planned to sponsor 1000 copies of Rhapsody of Realities for free distribution. But one day, while I was in service, my Pastor encouraged us to plan big for the program. He told us to tie our seeds for the campaign to any particular desire we had. I immediately keyed into that word and decided to sponsor more copies. I tied my seed to my job. I got a mighty promotion. Praise the Lord!”</p><span class="separator-line-horrizontal-medium-light2 bg-secondary display-inline-block offset-40px-top xs-offset-20px-top"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-inset image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap sm-swap-block">
                        <div class="width-100 small-screen xs-height-300px display-table arrow-bottom">
                            <div class="display-table-cell vertical-align-middle inset-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray text-font-sec width-95 center-col sm-width-100 xs-offset-15px-bottom">Reach-Out Campaign is born of God</h6>
                                <p class="no-letter-spacing inset-two-lr text-line-height-26 xs-line-height-20 xs-no-padding-lr">
                                    Reach-Out Campaign is a movement born by the Spirit of God to bring change to the people in different nations of the world through the free distribution of Rhapsody of Realities in the nations.</p><span class="separator-line-horrizontal-medium-light2 bg-secondary display-inline-block offset-40px-top xs-offset-20px-top"></span>
                            </div>
                        </div>
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px"
                            style="background: url(images/home-classic-start-up-image-02.JPG)"></div>
                    </div>
                </div>
                <div class="col-md-4 no-inset image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap">
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px"
                            style="background: url(images/home-classic-start-up-image-03.JPG)"></div>
                        <div class="width-100 small-screen xs-height-300px display-table arrow-top">
                            <div class="display-table-cell vertical-align-middle inset-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray text-font-sec width-95 center-col sm-width-100 xs-offset-15px-bottom">ReachOut Campaigns have led to a massive influx of souls</h6>
                                <p class="no-letter-spacing inset-two-lr text-line-height-26 xs-line-height-20 xs-no-padding-lr">ReachOut Campaigns have led to a massive influx of souls into the Kingdom and the birthing of new church chapters and languages in many countries. The Reach-Out Campaigns initiates the free distribution of Rhapsody of Realities across the world, influencing the inner man of these nations and it’s recipients; changing their lives forever as they come in contact with the messenger angel!</p><span class="separator-line-horrizontal-medium-light2 bg-secondary display-inline-block offset-40px-top xs-offset-20px-top"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 50px" class="wow xs-text-center no-inset-top" id="word-of-year">
        <div class="container-fluid no-inset">
            <div class="row no-margin equalize sm-equalize-auto">
                <div class="col-lg-8 col-md-4 col-sm-12 cover-background no-inset" style="background-image: url('images/section_3_image_1.jpg'); background-position: top !important">
                    <div class="sm-height-500px xs-height-350px"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 bg-white no-inset last-paragraph-no-margin sm-text-center">
                    <div class="inset-80px-all md-padding-40px-all sm-padding-60px-all xs-padding-30px-all">
                        <h5 class="text-font-sec text-semi-bold text-extra-dark-gray text-uppercase">HOW TO PRAY EFFECTIVELY</h5>
                        <p class="width-95 md-width-100">God's earnest desire is to have a rich, vibrant, and enduring fellowship with His children; but how can we enjoy such communion with all its blessings and benefits if we don't know how to pray</p><a class="btn btn-small btn-dark-gray offset-40px-top sm-offset-30px-top xs-offset-15px-top"
                        target="_blank"    href="https://www.loveworldbooks.org/lwb/index.php/christian-books/prayer-prophecy/item/how-to-pray-effectively-volume-1">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="margin-top: 50px" class="wow xs-text-center no-inset-top" id="healing-school">
        <div class="container-fluid no-inset">
            <div class="row no-margin equalize sm-equalize-auto">
                <div class="col-lg-4 col-md-4 col-sm-12 bg-white no-inset last-paragraph-no-margin sm-text-center">
                    <div class="inset-80px-all md-padding-40px-all sm-padding-60px-all xs-padding-30px-all">
                        <h6 class="text-font-sec text-semi-bold text-extra-dark-gray text-uppercase">HEALING SCHOOL
                            WITH PASTOR CHRIS</h6>
                        <p class="width-95 md-width-100">THE SET TIME FOR YOUR MIRACLE</p><a class="btn btn-small btn-dark-gray offset-40px-top sm-offset-30px-top xs-offset-15px-top"
                            target="_blank" href="https://www.enterthehealingschool.org/session/autumn/">REGISTER FOR THE HEALING SCHOOL</a>
                    </div>
                </div>

                <div class="col-lg-8 col-md-4 col-sm-12 cover-background no-inset" style="background-image: url('images/healing-school-testimony.jpg'); background-position: top !important">
                    <div class="sm-height-500px xs-height-350px"></div>
                </div>

            </div>
        </div>
    </section>

    <section class="wow fadeIn bg-extra-dark-gray" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center offset-100px-bottom xs-offset-40px-bottom">
                    <div class="position-relative overflow-hidden width-100"><span class="text-small text-outside-line-full text-font-sec text-medium text-uppercase">Contact
                            Us</span></div>
                </div>
            </div>
            <form class="rd-mailform rd-mailform-style-2 text-left" data-form-output="form-output-global"
                data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row">
                    <div class="col-md-8 wow fadeIn center-col text-center">
                        <div class="form-wrap">
                            <label class="form-label" for="contact-name">Name</label>
                            <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="contact-phone">Phone</label>
                            <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Required @Numeric">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="contact-email">E-Mail</label>
                            <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="contact-subject">Subject</label>
                            <input class="form-input" id="contact-subject" type="text" name="subject" data-constraints="@Required">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="contact-message">Message</label>
                            <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                        </div>
                        <div class="form-button group-sm text-center text-lg-left">
                            <button class="btn btn-small btn-secondary offset-30px-top xs-offset-three-top" type="submit">send
                                message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
