<section class="breadcrumbs-custom bg-image context-dark" id="top" style="background-image: url(/images/kingspay4.png);">
    <div class="breadcrumbs-custom-inner" id="banner">
        <div class="container breadcrumbs-custom-container">

        </div>
    </div>
</section>

<section class="section section-lg" id="central">
    <div class="container">
        <div class="row row-50 row-xxl-70 offset-top-2" >
            <div class="col-sm-6 col-md-4 col-lg-4 wow-outer" id="logo">
                <a href="https://www.youtube.com/watch?v=1OQwskSRwYw&amp;feature=youtu.be" class="vicon fancybox-media" rel="media-gallery">
                    <figure>
                        <img src="/images/kingspay7.png">
                    </figure>
                </a>
            </div>

            <div class="col-lg-8">
                <h1 class="display-4">MEET KINGS PAY</h1>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check "></i>
                    </div>
                    <div class="p-4 align-self-end" id="check-text">
                        New, fast and reliable way for sending money to affiliate
                        organizations-exclusive to KingsChat users! Backed by 128-
                        bit encryption & top level security
                    </div>
                </div>
                <br>
                 <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end" id="check-text">
                        Are you a celebrity, artiste or corporation? 
                        Super-charge your KingsChat presence by joining the exclusive SuperUser network! 
                        You'll enjoy amazing perks such as dedicated pages, message blasting, 
                        robust analytics and early access to much more!
                    </div>
                </div>
                <br>
            </div>
        <div class="kingschart">
             <a href="https://www.apkmonk.com/app/com.joinkingschat.android/" class="btn btn-primary btn-lg "> <span>KingsChat</span></a>
        </div>


</section>


<div class="container" id="middle">
    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 center-col offset-eight-bottom sm-offset-40px-bottom xs-offset-30px-bottom text-center">
            <img src="/images/middle.jpeg">
            {{!-- <h6 class="text-font-sec text-extra-dark-gray text-uppercase text-semi-bold">OUR CHURCHES & SERVICE TIMES</h6> --}}
        </div>
    </div>
    <div class="row sm-col-2-nth">
        <div class="col-md-4 col-sm-6 col-xs-12 offset-30px-bottom sm-offset-50px-bottom xs-offset-30px-bottom wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="blog-post blog-post-style2" style="overflow: visible">
                <div class="post-details"><span class="text-large text-font-sec width-85 md-width-95 offset-15px-bottom display-block"><a class="text-extra-dark-gray" href="#">Christ Embassy Berlin Church 1</a></span>
                    <p class="width-90 xs-offset-15px-bottom xs-width-100">Address: Bandelstraße 40 - 42, 10559 Berlin,
                        Phone: +49 (0) 123 456 7890,
                        Email: info@ceberlin.de,
                        Time: 10AM to 12:30PM Sundays.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 offset-30px-bottom sm-offset-50px-bottom xs-offset-30px-bottom wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="blog-post blog-post-style2" style="overflow: visible">
                <div class="post-details"><span class="text-large text-font-sec width-85 md-width-95 offset-15px-bottom display-block"><a class="text-extra-dark-gray" href="#">Mid Week Service</a></span>
                    <p class="width-90 xs-offset-15px-bottom xs-width-100">Address: Bandelstraße 40 - 42, 10559 Berlin,
                        Phone: +49 (0) 123 456 7890,
                        Email: info@ceberlin.de,
                        Time: 6:30PM to 8PM Wednesdays.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 offset-30px-bottom sm-offset-50px-bottom xs-offset-30px-bottom wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="blog-post blog-post-style2" style="overflow: visible">
                <div class="post-details"><span class="text-large text-font-sec width-85 md-width-95 offset-15px-bottom display-block"><a class="text-extra-dark-gray" href="#">Christ Embassy Berlin Church 2</a></span>
                    <p class="width-90 xs-offset-15px-bottom xs-width-100">Address: Bandelstraße 40 - 42, 10559 Berlin,
                       Phone: +49 (0) 123 456 7890,
                       Email: info@ceberlin.de,
                       Time: 1:30PM to 3:30PM Sundays.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="parallax-container" data-parallax-img="images/breadcrumbs-image-1.jpg"><div class="material-parallax parallax"><img src="images/breadcrumbs-image-1.jpg" alt="" style="display: block; transform: translate3d(-50%, 124px, 0px);"></div>
    <div class="parallax-content dark-filter">
        <div class="section-md text-center context-dark">
            <div class="container">
                <div class="box-cta-1">
                    <h5 class="wow-outer"><span class="wow slideInRight" style="visibility: visible; animation-name: slideInRight;"> Giving your life a meaning</span></h5>
                    <div class="wow-outer button-outer">
                        <p>Christ Embassy is a place where you can have a personal encounter with God. This place is not about religion, but about a personal relationship with Jesus and spiritual growth.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

