<section class="breadcrumbs-custom bg-image context-dark" id="top" style="background-image: url(/images/kingspay4.png);">
    <div class="breadcrumbs-custom-inner" id="banner">
        <div class="container breadcrumbs-custom-container">

        </div>
    </div>
</section>

<section class="section section-lg" id="central">
    <div class="container">
        <div class="row row-50 row-xxl-70 offset-top-2" >
            <div class="col-sm-6 col-md-4 col-lg-4 wow-outer" id="logo">
                <a href="https://www.youtube.com/watch?v=1OQwskSRwYw&amp;feature=youtu.be" class="vicon fancybox-media" rel="media-gallery">
                    <figure>
                        <img src="/images/kingspay7.png">
                    </figure>
                </a>
            </div>

            <div class="col-lg-8">
                <h1 class="display-4">MEET KINGS PAY</h1>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end" id="check-text">
                        New, fast and reliable way for sending money to affiliate
                        organizations-exclusive to KingsChat users! Backed by 128-
                        bit encryption & top level security
                    </div>
                </div>
                <br>
                 <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-end" id="check-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Eum, quibusdam. Sint asperiores maxime cupiditate, 
                        dolorem temporibus distinctio libero quod cum.
                    </div>
                </div>
                <br>
            </div>
            {{!-- <div class="col-sm-6 col-md-4 col-lg-8 wow-outer " id="text">
                <div class="md-padding-40px-all sm-padding-60px-all xs-padding-30px-all">
                    <h5 class="text-font-sec text-semi-bold text-extra-dark-gray text-uppercase">WHAT IS A HIGHER LIFE SUNDAY SERVICE?</h5>
                    <p class="width-95 md-width-100">The Connection Sunday Service is a place where heaven is on earth. The main goal is that everybody may experience love, the Holy Spirit, and hear the Word of God, so that no one misses the chance to be touched by God and receive their miracle.</p>
                </div>
            </div> --}}

            {{!-- <div class="col-md-6 col-lg-7 wow fadeInLeft">
					<a href="#" class="btn-icon mr-2">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="31" height="38" viewBox="0 0 31 38">
									<path d="M25.892,20.190 C25.844,15.377 29.824,13.070 30.002,12.955 C27.766,9.689 24.282,9.241 23.041,9.189 C20.076,8.890 17.256,10.932 15.751,10.932 C14.251,10.932 11.929,9.234 9.470,9.278 C6.239,9.326 3.259,11.154 1.595,14.043 C-1.762,19.857 0.735,28.472 4.008,33.188 C5.607,35.496 7.513,38.089 10.017,37.996 C12.427,37.900 13.339,36.439 16.254,36.439 C19.168,36.439 19.987,37.996 22.538,37.949 C25.133,37.900 26.776,35.596 28.364,33.280 C30.200,30.603 30.956,28.009 31.001,27.877 C30.943,27.850 25.942,25.938 25.892,20.190 ZM21.099,6.067 C22.427,4.458 23.324,2.226 23.080,-0.000 C21.166,0.076 18.846,1.272 17.473,2.877 C16.240,4.301 15.162,6.574 15.451,8.756 C17.588,8.923 19.769,7.673 21.099,6.067 Z" class="brand-icon-svg"/>
								</svg>
							</div>
							<div class="text">
								<h6>Download it on</h6>
								<span>App Store</span>
							</div>
						</a>
						<a href="#" class="btn-icon">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="33" height="37" viewBox="0 0 33 37">
									<path d="M30.975,14.967 L6.016,0.534 C5.409,0.184 4.719,-0.001 4.021,-0.001 C3.313,-0.001 2.615,0.189 2.003,0.548 C0.768,1.274 0.000,2.621 0.000,4.066 L0.000,32.932 C0.000,34.377 0.768,35.724 2.003,36.450 C2.615,36.809 3.313,36.999 4.021,36.999 C4.719,36.999 5.409,36.813 6.016,36.463 L30.974,22.029 C32.224,21.308 33.000,19.955 33.000,18.499 C33.000,17.043 32.224,15.690 30.975,14.967 ZM20.159,11.555 L16.732,16.384 L8.535,4.832 L20.159,11.555 ZM5.000,33.999 L16.732,20.613 L20.159,25.443 L5.000,33.999 ZM29.764,19.888 L22.287,24.212 L18.233,18.499 L22.287,12.785 L29.764,17.109 C30.256,17.394 30.562,17.926 30.562,18.499 C30.562,19.072 30.256,19.604 29.764,19.888 Z" class="brand-icon-svg"/>
								</svg>
							</div>
							<div class="text">
								<h6>Download it on</h6>
								<span>App Store</span>
							</div>
						</a>
			</div> --}}
		
</section>


<div class="container" id="middle">
    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 center-col offset-eight-bottom sm-offset-40px-bottom xs-offset-30px-bottom text-center">
            <img src="/images/middle.jpeg">
            {{!-- <h6 class="text-font-sec text-extra-dark-gray text-uppercase text-semi-bold">OUR CHURCHES & SERVICE TIMES</h6> --}}
        </div>
    </div>
    <div class="row sm-col-2-nth">
        <div class="col-md-4 col-sm-6 col-xs-12 offset-30px-bottom sm-offset-50px-bottom xs-offset-30px-bottom wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="blog-post blog-post-style2" style="overflow: visible">
                <div class="post-details"><span class="text-large text-font-sec width-85 md-width-95 offset-15px-bottom display-block"><a class="text-extra-dark-gray" href="#">Christ Embassy Berlin Church 1</a></span>
                    <p class="width-90 xs-offset-15px-bottom xs-width-100">Address: Bandelstraße 40 - 42, 10559 Berlin,
                        Phone: +49 (0) 123 456 7890,
                        Email: info@ceberlin.de,
                        Time: 10AM to 12:30PM Sundays.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 offset-30px-bottom sm-offset-50px-bottom xs-offset-30px-bottom wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="blog-post blog-post-style2" style="overflow: visible">
                <div class="post-details"><span class="text-large text-font-sec width-85 md-width-95 offset-15px-bottom display-block"><a class="text-extra-dark-gray" href="#">Mid Week Service</a></span>
                    <p class="width-90 xs-offset-15px-bottom xs-width-100">Address: Bandelstraße 40 - 42, 10559 Berlin,
                        Phone: +49 (0) 123 456 7890,
                        Email: info@ceberlin.de,
                        Time: 6:30PM to 8PM Wednesdays.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 offset-30px-bottom sm-offset-50px-bottom xs-offset-30px-bottom wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="blog-post blog-post-style2" style="overflow: visible">
                <div class="post-details"><span class="text-large text-font-sec width-85 md-width-95 offset-15px-bottom display-block"><a class="text-extra-dark-gray" href="#">Christ Embassy Berlin Church 2</a></span>
                    <p class="width-90 xs-offset-15px-bottom xs-width-100">Address: Bandelstraße 40 - 42, 10559 Berlin,
                       Phone: +49 (0) 123 456 7890,
                       Email: info@ceberlin.de,
                       Time: 1:30PM to 3:30PM Sundays.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="parallax-container" data-parallax-img="images/breadcrumbs-image-1.jpg"><div class="material-parallax parallax"><img src="images/breadcrumbs-image-1.jpg" alt="" style="display: block; transform: translate3d(-50%, 124px, 0px);"></div>
    <div class="parallax-content dark-filter">
        <div class="section-md text-center context-dark">
            <div class="container">
                <div class="box-cta-1">
                    <h5 class="wow-outer"><span class="wow slideInRight" style="visibility: visible; animation-name: slideInRight;"> Giving your life a meaning</span></h5>
                    <div class="wow-outer button-outer">
                        <p>Christ Embassy is a place where you can have a personal encounter with God. This place is not about religion, but about a personal relationship with Jesus and spiritual growth.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

