{{!-- <header class="masthead" style="background-image: url(images/rhapsody-page-banner.png); padding-bottom:500px;">
</header>
<div class="container col-lg-12" style="margin-top: 80px;">
    <div class="col-lg-12 post">
        <div class="container">
            <h2><a href="" class="ubuntu">How to stop being an entrepreneur and become one</a></h2>
            <div class="body-text">
                <p class='text-muted ubuntu'>By Yash Shah | Gridle September 17, 2013</p>
                <br>
                <div class="row justify-content-centera">
                    <div class="col-lg-6">
                        <p>Entrepreneurs are generally perceived as insane risk-takers. A surreal combination of
                            Wolverine and Batman. Aggressive, yet calm, intuitive, yet rational and reckless and
                            brave
                            at the same time. But here’s the moot question: if only five per cent of entrepreneurs
                            end
                            up working on their original idea, only two per cent entrepreneurs end up providing
                            value
                            and only 0.5 per cent see monetary success, how should this dream really be pursued?</p>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div> --}}

<header class="masthead" style="background-image: url(images/rhapsody-page-banner.png); padding-bottom:500px;">
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center" style="background:#626262; color:white">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <br>
                <h6>WE’RE MORE THAN “BELIEVERS”</h6>
                <i style="text-align:justify; font-size:1.5rem; ">
                    For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him
                    should
                    not perish, but have everlasting life (John 3:16).
                </i>
                <br>
                <br>
                <p style="text-align:justify; font-size:1.6rem;">
                    All around the world, people refer to Christians as “believers,” but that’s a general colloquial
                    communication that tends to bring Christianity into some mundanity. Yes, the Bible says, “And these
                    signs
                    shall follow them that believe...” (Mark 16:17), but when you believed, something happened. We
                    didn’t
                    “believe” to become “believers”; we believed to receive something: the God-life! In John 6:47,
                    Jesus
                    said,
                    “...He that believeth on me hath everlasting life.” We believed so that we may possess “everlasting
                    life”—the God-life. We’re more than believers. To elucidate this further, let’s look at it this
                    way: If
                    you
                    took an entrance examination into a certain institution, and you were successful, you’d become a
                    student,
                    right? Sure! Having already been admitted as a student, you wouldn’t call yourself a candidate or
                    an
                    applicant to the school anymore, because you’re now a student! You were an applicant, so you could
                    become a
                    student. Likewise, we believed to become possessors of the God-life; we didn’t believe for nothing,
                    or
                    to
                    be merely referred to as “believers.” Our opening verse says, “...whosoever believeth in him should
                    not
                    perish, but have everlasting life.” Every “believer” in Christ got, and became, something: we got
                    eternal
                    life, and became God-men and God-women. The Apostle Peter puts it rightly: we’re partakers of the
                    divine
                    nature; associates of the God-kind (2 Peter 1:4). You’ve transcended from a believer. Believing was
                    the
                    verb to take you into possessing everything that the death, burial and resurrection of Jesus Christ
                    wrought
                    on your behalf. No wonder the Bible says all things are yours (1 Corinthians 3:21). Take possession
                    of
                    all
                    that’s yours in Christ and enjoy your triumphant life in Him. He came, not just to reveal the
                    Father to
                    us,
                    but to bring us into oneness with Him, and make us gods! Hallelujah!
                </p>
                <h6>PRAYER</h6>
                <P style="text-align:center; font-size:1.6rem;">
                    All things are mine, because I’m the seed of Abraham, an heir of God, and a joint-heir with Christ.
                    I walk, conscious of my prosperity, health, and victory, for in Christ, I’ve obtained an
                    inheritance, having been predestined according to the purpose of Him who works all things according
                    to the counsel of His own will. And by Him I reign, and rule in life! Blessed be God!
                </P>
                <b style="text-align:center; font-size:1.6rem;">FURTHER STUDY</b>
                <P style="text-align:center; font-size:1.6rem;">
                    2 Corinthians 5:17; 2 Peter 1:3-4; 1 Corinthians 3:21
                </P>
                <b style="text-align:center; font-size:1.6rem;">ONE YEAR READING PLAN</b>
                <p style="text-align:center; font-size:1.6rem;">
                    1 Timothy 2:1-15 & Jeremiah 7-8
                </p>
            </div>
            <div class="col-lg-2 text-center ">

            </div>
        </div>
    </div>
</div>
