#top{
    margin-top: -78px;
}
#check-text{
    width: 600px;
    margin: -27px 0 0 35px;
}
#banner{
    margin-bottom: 150px;
    margin-top: 100px;
}

#central{
    margin-top: 25px;
}
#logo{
    float: right;
}

#middle{
    margin-top: 130px;
}