#topp{
    margin-top: -78px;
}
#check-text{
    width: 600px;
    margin: -27px 0 0 35px;
}
.banner{
    margin-bottom: 461px;
    margin-top: 155px;
}

#central-top{
    margin-top: 25px;
}
#logo{
    float: right;
}

#middle{
    margin-top: 50px;
}

.btn{
    border: 0px solid;
    padding: 10px;
    box-shadow: 1px 1px #888880;
}

.btn-lg {
    border-radius: 4px;
    margin: 18px 0 0px 88px;
    
    
}
.fa{
    background-color:#6f6f6f;
    border-radius: 4px;   
}
.fa-check{
    color: white;
    padding: 4px;
}